.visit_item {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 210px;
    align-content: center;
}

.img {
    background-color: aqua;
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: column;
}

.place_description {
    display: flex;
    max-height: 30px;
}